<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <label for="groupId">Group ID</label>
    <input type="text" th:field="*{groupId}" id="groupId" placeholder="Last Name">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>